html {
  overflow-y: auto;
}

@media (max-width: 1279px) {
  .v-main {
    margin: 0 10px;
  }
}

.max-width-override {
  max-width: 1200px;
  margin: 0 auto;
}

.page-wrapper {
  min-height: 100vh;
  padding: 24px;
  @media screen and (max-width: 767px) {
    padding: 20px 10px;
  }
}
