$sizes: (
  'display-1': 44px,
  'display-2': 40px,
  'display-3': 30px,
  'h1': 36px,
  'h2': 30px,
  'h3': 21px,
  'h4': 18px,
  'h5': 16px,
  'h6': 14px,
  'text-10': 10px,
  'text-13': 13px,
  'text-14': 15px,
  'text-18': 18px,
  'text-20': 20px,
  'text-24': 24px,
  'body-text-1': 10px
);

@each $size, $pixels in $sizes {
  .#{$size} {
    font-size: $pixels;
    line-height: $pixels + 10;
  }
}

.textPrimary {
  color: rgb(var(--v-theme-textPrimary)) !important;
}

.pointer {
  cursor: pointer;
}
